<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>

<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<logger name="jp.co.opst.nishimoto_satoshi.practice_java11" level="INFO" />

	<root level="WARN">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
